<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <!-- ds ban -->
      <div class="wrapper">
        <label>Bàn ăn </label>
        <!-- <select name="selectedTable" class="input custom-select" [(ngModel)]="selectedTable">
          <option *ngFor="let table of tables" [value]="table" (click)="changeToCategory(table.id)">Table {{table.id}}</option>
      </select> -->

        <div class='row'>
            <p>{{tables[0].name}}</p>
            <div class='col-md-4 box-padding-5px'>
                <input type="radio" id="{{tables[0].name}}" name="select_table" checked (click)="selectTable(tables[0].id)">
                <label for="{{tables[0].name}}">
                  <img src="{{tables[0].image}}" height="100" width="100" />
                  <p>{{tables[0].name}}</p>
                </label>
              </div>

          <tr *ngFor="let table of tables">
            <div class='col-md-4 box-padding-5px'>
              <input type="radio" id="1" name="select_table" (click)="selectTable(table.id)">
              <label for="1">
                <img src="{{table.image}}" height="100" width="100" />
                <p>{{table.name}}</p>
              </label>
            </div>
  
          </tr>
        </div>

        


      </div>
    </div>
    <div class='col-md-4'>
      <!-- ds mon an -->
      <div class="wrapper">
        <label>Món ăn-uống</label>
        <div class='row'>
          <div class='col-md-6'>
            <div class="input">
              <label>Danh mục món ăn </label>
              <select class="input custom-select" [(ngModel)]="selectedCategoryFood" (change)='selectCategory()'>
                <option *ngFor="let categoryFood of categoryFoods" [ngValue]="categoryFood">{{categoryFood?.name}}</option>
              </select>
            </div>
          </div>
          <div class='col-md-2' style="padding:0">
            <div class="input ">
              <label>Số lượng</label>
              <input class="input" type="number" style="width:100%">
            </div>
          </div>
          <div class='col-md-4'>
            <button type="button" class="btn btn-primary">Thêm món</button>
          </div>
          <!-- <food-widget-list [listFood]="listFoodInCategory"></food-widget-list> -->
          <tr *ngFor="let food of listFoodInCategory" style="cursor: pointer">
            <!-- <input type="radio" name="food-radio" (click)="selectFood(food)">{{food.name}} -->
            <!-- <div class='col-md-4'>
              <button type="submit" class="btn-food">
                <img src="{{food.image}}" height="100" width="100" />
                <br/> {{food.name}}
              </button>
            </div> -->

            <div class='col-md-4 box-padding-5px'>
              <input type="radio" id="{{food.id}}" name="select_food">
              <label for="{{food.id}}">
                <img src="{{food.image}}" height="100" width="100" />
                <p>{{food.name}}</p>
              </label>
            </div>

          </tr>
          <!--  -->
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <!-- ds mon an -->
      <div class="wrapper">
        <label>Bills</label>
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">Tên món</th>
              <th class="text-center">Đơn giá(VND)</th>
              <th class="text-center">Số lượng</th>
              <th class="text-center">Thành tiền(VND)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of selectedTable.itemsOfBill; let i = index">
              <th class="text-center">
                <a routerLink="" routerLinkActive="active" class="primary-color">{{item.nameFood}}</a>
              </th>
              <th class="text-center">{{item.price}} 000 </th>
              <th class="text-center">{{item.quantity}}</th>
              <th class="text-center">{{item.totalPrice}} 000</th>
            </tr>
          </tbody>
        </table>
        <div class="table-bill">
          <div class="right">
            <div class="row-infor">
              <span class="lbl">
                <b>Total:</b>
              </span>
              <span class="fee">
                <b>{{selectedTable.total}} 000 VND</b>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
